/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */



/* --------------------------------------
   Typography
   -------------------------------------- */



/* --------------------------------------
   Navbar
   -------------------------------------- */
   #searchInput {
       width: 200px;
   }
   
   .navbar-brand {
       padding: 0px 15px;
   }
   
   .refrigi {
       height: 50px;
       width: 50px;
       margin: 0px;
       padding:0px;
   }
   
/* --------------------------------------
   Carousel
   -------------------------------------- */

#myCarousel .item { height: 400px; }

#slide1 {
    background: url('../../images/carousel_medium_01.jpg')
}

#slide2 {
    background: url('../../images/carousel_medium_02.jpg')
}

#slide3 {
    background: url('../../images/carousel_medium_03.jpg')
}

/* --------------------------------------
   Global Styles
   -------------------------------------- */



/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	
}

/* Large desktop */
@media (min-width: 1200px) {
	
}